a:active{
    color: #5D5FEF !important;
}
.nav-horizontal{
    margin-top: -20px;
}
.navbar-items a:hover{
    text-decoration: underline;
    text-decoration-color:#5D5FEF;
    text-underline-offset: 10px;
    cursor: pointer;
}
.cagetory {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.category li a{
    text-decoration: none;
}



